<div class="pageDiv" th:fragment="html">
	<nav>
	  <ul class="pagination">
	    <li :class="{ disabled: pagination.pageIndex == 0 }">
	      <a  href="#nowhere" @click="jump('first')">«</a>
	    </li>
	    <li :class="{ disabled: pagination.pageIndex <= 0 }">
	      <a  href="#nowhere" @click="jump('pre')">‹</a>
	    </li>		    

		<li  v-for="i in pagination.totalPageCount">
			<a href="#nowhere" @click="jumpByNumber(i-1)" >
				{{i}}
			</a>
		</li>

	    <li :class="{ disabled: pagination.pageIndex >= pagination.totalPageCount-1 }">
	      <a  href="#nowhere" @click="jump('next')">›</a>
	    </li>
	    <li :class="{ disabled: pagination.pageIndex >= pagination.totalPageCount-1 }">
	      <a  href="#nowhere" @click="jump('last')">»</a>
	    </li>		    
	  </ul>
	</nav>    
</div>
